html{
  background: url(app_feed.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page{
  justify-content:center;
  display: flex;
  flex-flow: row-wrap;
  padding: 10px;
}

body{
justify-content: center;
}

button {
  border-radius: 3px;
  width: 150px;
  margin: 1px;
  height: 25px;
  justify-content: center;
  display: flex;
  flex-flow: row-wrap;
}

button:click {
  
}

button:hover {
  cursor: pointer;
  background-color: #e0e1e2;

}
form{
  font-size: 20px;
  color:black;
  
}
textarea{
  width: 350px;
}
.card-form{
  border: 3px solid black;
  font-weight: bold;
  justify-content: center;
  background: rgba(126, 191, 235, 0.7);
  padding: 40px;
  max-width: 375px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(19, 35, 47, 0.3);
}
.inputBox{
  border: 4px solid black;
}
.form:hover {
  
}
.tab-group{

}

.tab-group:after{
}

